In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./data/2010-2011 Solar home electricity data(Preprocessed).csv')

In [3]:
df.head()

,date,Customer,Postcode,Generator Capacity,Consumption Category,Load(kWh)
0,2010-07-01 00:30:00,1.0,2076.0,3.78,CL,1.250
1,2010-07-01 01:00:00,1.0,2076.0,3.78,CL,1.244
2,2010-07-01 01:30:00,1.0,2076.0,3.78,CL,1.256
3,2010-07-01 02:00:00,1.0,2076.0,3.78,CL,0.744
4,2010-07-01 02:30:00,1.0,2076.0,3.78,CL,0.019

In [4]:
df.tail()

,date,Customer,Postcode,Generator Capacity,Consumption Category,Load(kWh)
12947275,2011-06-30 22:00:00,300.0,2086.0,3.36,GG,0.0
12947276,2011-06-30 22:30:00,300.0,2086.0,3.36,GG,0.0
12947277,2011-06-30 23:00:00,300.0,2086.0,3.36,GG,0.0
12947278,2011-06-30 23:30:00,300.0,2086.0,3.36,GG,0.0
12947279,2011-07-01 00:00:00,300.0,2086.0,3.36,GG,0.0

In [35]:
preprocessed_data = pd.DataFrame()
c_category = np.unique(df['Consumption Category'])
colnames = []
for k in range(len(c_category)):
    c_df = df[df['Consumption Category'] == c_category[k]]
    c_df = c_df.reset_index(drop=True)
    c_customer = np.unique(c_df['Customer'])
    
    for j in range(len(c_customer)):
        c_load = c_df[c_df['Customer'] == c_customer[j]]['Load(kWh)']
        c_load = c_load.reset_index(drop=True)
        preprocessed_data = pd.concat([preprocessed_data, c_load], axis=1)
        
        colnames.append("Load(Customer" +  str(int(c_customer[j])) + ":"+ c_category[k] + ")")
        print('=', end='')

===================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================

In [38]:
preprocessed_data.head()

,Load(kWh),Load(kWh),Load(kWh),Load(kWh),Load(kWh),Load(kWh),Load(kWh),Load(kWh),Load(kWh),Load(kWh),...,Load(kWh),Load(kWh),Load(kWh),Load(kWh),Load(kWh),Load(kWh),Load(kWh),Load(kWh),Load(kWh),Load(kWh)
0,1.250,0.0,2.029,0.000,1.917,0.0,1.738,0.000,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.244,0.0,2.013,0.000,1.924,0.0,1.753,0.000,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.256,0.0,1.000,1.973,1.474,0.0,1.769,0.000,0.278,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.744,0.0,0.000,1.950,0.092,0.0,1.664,0.000,0.388,1.082,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.019,0.0,0.000,1.544,1.020,0.0,0.000,0.944,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [40]:
preprocessed_data.columns = colnames

In [41]:
preprocessed_data.head()

,Load(Customer1:CL),Load(Customer2:CL),Load(Customer3:CL),Load(Customer4:CL),Load(Customer5:CL),Load(Customer6:CL),Load(Customer7:CL),Load(Customer8:CL),Load(Customer9:CL),Load(Customer10:CL),...,Load(Customer291:GG),Load(Customer292:GG),Load(Customer293:GG),Load(Customer294:GG),Load(Customer295:GG),Load(Customer296:GG),Load(Customer297:GG),Load(Customer298:GG),Load(Customer299:GG),Load(Customer300:GG)
0,1.250,0.0,2.029,0.000,1.917,0.0,1.738,0.000,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.244,0.0,2.013,0.000,1.924,0.0,1.753,0.000,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.256,0.0,1.000,1.973,1.474,0.0,1.769,0.000,0.278,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.744,0.0,0.000,1.950,0.092,0.0,1.664,0.000,0.388,1.082,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.019,0.0,0.000,1.544,1.020,0.0,0.000,0.944,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [43]:
date = df['date'][0:17520]

In [45]:
preprocessed_data = pd.concat([date, preprocessed_data], axis=1)

In [47]:
preprocessed_data.head()

,date,Load(Customer1:CL),Load(Customer2:CL),Load(Customer3:CL),Load(Customer4:CL),Load(Customer5:CL),Load(Customer6:CL),Load(Customer7:CL),Load(Customer8:CL),Load(Customer9:CL),...,Load(Customer291:GG),Load(Customer292:GG),Load(Customer293:GG),Load(Customer294:GG),Load(Customer295:GG),Load(Customer296:GG),Load(Customer297:GG),Load(Customer298:GG),Load(Customer299:GG),Load(Customer300:GG)
0,2010-07-01 00:30:00,1.250,0.0,2.029,0.000,1.917,0.0,1.738,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2010-07-01 01:00:00,1.244,0.0,2.013,0.000,1.924,0.0,1.753,0.000,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2010-07-01 01:30:00,1.256,0.0,1.000,1.973,1.474,0.0,1.769,0.000,0.278,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2010-07-01 02:00:00,0.744,0.0,0.000,1.950,0.092,0.0,1.664,0.000,0.388,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2010-07-01 02:30:00,0.019,0.0,0.000,1.544,1.020,0.0,0.000,0.944,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [50]:
preprocessed_data.to_csv('2010-2011 Solar home electricity data(perCustomer).csv', index=False)