In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('./data/2010-2011 Solar home electricity data(Preprocessed).csv', encoding='euc-kr')
node = pd.read_csv('./data/node.csv', encoding='euc-kr')

In [5]:
node

     Customer  generation-load     Who
0           1            0.347   Buyer
1           2            0.366  Seller
2           3            0.061   Buyer
3           4            0.235  Seller
4           5            0.275  Seller
..        ...              ...     ...
295       296            0.262  Seller
296       297            0.129  Seller
297       298            0.120  Seller
298       299            0.183   Buyer
299       300            0.687  Seller

[300 rows x 3 columns]

In [6]:
df.head()

,date,Customer,Postcode,Generator Capacity,Consumption Category,Load(kWh)
0,2010-07-01 00:30:00,1.0,2076.0,3.78,CL,1.250
1,2010-07-01 01:00:00,1.0,2076.0,3.78,CL,1.244
2,2010-07-01 01:30:00,1.0,2076.0,3.78,CL,1.256
3,2010-07-01 02:00:00,1.0,2076.0,3.78,CL,0.744
4,2010-07-01 02:30:00,1.0,2076.0,3.78,CL,0.019

In [8]:
predf = df.drop(['date','Generator Capacity', 'Consumption Category', 'Load(kWh)'], axis=1)

In [9]:
predf.head()

   Customer  Postcode
0       1.0    2076.0
1       1.0    2076.0
2       1.0    2076.0
3       1.0    2076.0
4       1.0    2076.0